*{
    margin: 0;
    padding: 0;
}

.nav{
    width: 100%;
    height: 102px;
   
}

.bar {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    
}
.img {
    display: flex;
    align-items: center;
}
.mid-bar{
    display: flex;
}

#ba{
    color: orange;
}
#bb{
    margin-left: 15px;
    color: skyblue;
}

#bc{
    margin-left: 15px;
    color: #05D4DF;
}
#bd{
    color: #5D58EF;
    margin-left: 15px;
}

button{
    width: 166px;
    height: 30px;
    background-color: orange;
    border-radius: 8px;
    border: none;
}