*{
    margin: 0;
    padding: 0;
}

/* for nav */

.nav{
    width: 100%;
    height: 102px;
   
}

.bar {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    
}
.img {
    display: flex;
    align-items: center;
}
.mid-bar{
    display: flex;
}

#home{
    color: orange;
}
#about{
    margin-left: 15px;
    color: skyblue;
}

#facillities{
    margin-left: 15px;
    color: #05D4DF;
}
#add{
    color: #5D58EF;
    margin-left: 15px;
}

.c-button{
    width: 166px;
    height: 30px;
    background-color: orange;
    border-radius: 8px;
    border: none;
}

/* for sub content */

.s-container {
    display: flex;
    padding-left: 140px;
    padding-right: 140px;
    justify-content: space-between;
    align-items: center;
}

.s-content1 {
    width: 450px;
    height: 331px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.heading {
    font-size: 52px;
}

#sim-p {
    font-size: 16px;
}

#orenge{
    color: orange;
}

#enroll{
    height: 50px;
    width: 190px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

#blue {
    color: skyblue;
}

#hero-kid {
    height: 575px;
}
